<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

{%- comment %} https://docs.google.com/presentation/d/1rmxwWa9P6_xHqonmh5ONXRS-jPc5XKbnv99Rjkhe04s/present {% endcomment -%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  {% if site.enable_copy_code_button -%}
    window.enable_copy_code_button = true;
  {%- endif %}
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<style>
  body {
    margin-top: 35px;
  }
  .support-ukraine, .support-ukraine:visited {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 10000;
    text-decoration: none;
    font-family: arial;
  }
  .support-ukraine:hover, .support-ukraine:active {
    background: rgba(0,0,0,0);
    display: flex;
    background: rgb(80,80,80);
    text-decoration: none;
  }
  .support-ukraine__flag {
    height: 25px;
    margin-right: 10px;
  }
  .support-ukraine__flag__blue {
    width: 40px;
    height: 12.5px;
    background: #005BBB;
  }
  .support-ukraine__flag__yellow {
    width: 40px;
    height: 12.5px;
    background: #FFD500;
  }
  .support-ukraine__label {
    color: white;
    font-size: 12px;
    line-height: 25px;
  }
  </style>
  <a class="support-ukraine" href="https://help.unicef.org/ukraine-emergency" target="_blank" rel="nofollow noopener" title="Donate to support Ukraine's independence.">
    <div class="support-ukraine__flag" role="img" aria-label="Flag of Ukraine">
      <div class="support-ukraine__flag__blue"></div>
      <div class="support-ukraine__flag__yellow"></div>
    </div>
    <div class="support-ukraine__label">
      Dona para apoyar la independencia de Ucrania.
    </div>
  </a>
